@mixin labelStyle {
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 12px;
    color: #f04134;
}

body {
    min-width: 1058px;
}

#detailOrder {
    background: #fff;
    .form-box {
        background: #fff;
        padding: 30px;
        label[for="serviceOptions"]:after {
            content: ' '
        }
        .setDelayTime {
            padding-top: 20px;
            .lh30 {
                line-height: 30px;
            }
            .delayTimeLabel {
                color: rgba(0, 0, 0, 0.85);
                text-align: right;
                padding-top: 6px;
                &:before {
                    @include labelStyle;
                }
            }
            .payAttention {
                color: red;
                padding-top: 6px;
            }
        }
        .marketingCategoryRow {
            .marketingCategoryLabel {
                color: rgba(0, 0, 0, 0.85);
                text-align: right;
                padding-top: 6px;
                &:before {
                    @include labelStyle;
                }
            }
        }
        .strategyMarketingType .ant-form-item-label label,
        .strategyOrderRules .ant-form-item-label label {
            &:before {
                @include labelStyle;
            }
        }
    }
    .path {
        background: #fff;
    }
}